.container.col-md-8
  .row
    .four0four.col-md-4.col-sm-12.offset-md-2
      span.off 4
      span.flicker2 0
      span.flicker3 4
    .not-found.col-lg-2.col-md-12
      span.flicker4 P
      span.off a
      span gina
      span nao  
      span.off 
      span.flicker1 n 
      span.flicker3 c
      span 
      span.off d
    -for (var i = 0; i< 10; i++){
      div(class="fog" + i)
    -}
  //Pagina nao encontrada
  
  